@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
@import "Fonts/Vazir/fonts.css";
@import "Fonts/FontAwesome/css/all.css";
@import "Fonts/icons/flaticon.css";
@import "Fonts/FontAwesome/css/all.css";
body {
    background-color: #F7FFF7;
    direction: rtl;
    font-family: "Vazir";
}

footer {
    background-color: #1A535C;
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    color: #F7FFF7;
    padding: 10px;
    margin: 0%;
    box-shadow: 0px 0px 10px 3px grey;
}

.header {
    position: sticky;
    top: 0px;
    z-index: 5000;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px grey;
    width: 100%;
    margin: 0px;
    align-content: center;
    text-align: center;
    justify-content: center;
    font-size: 1.125em;
}

.header>.menu-item {
    padding: 10px;
    text-align: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.header>.menu-item>i {
    font-size: 1.5em;
}

.header>.menu-item>a,
.header>.menu-item>.with-badge>a,
.header>.menu-item>a:hover {
    color: black;
    text-decoration: none;
}

.header>.exit>a,
.header>.exit>a:hover {
    color: #FF6B6B;
    text-decoration: none;
}

.logo {
    width: 50px;
    height: auto;
    padding: 0px;
    margin: 5px;
}

.flaticon-smart-cart:before,
.flaticon-smart-cart:after {
    font-size: 30px;
}

.flaticon-phone:before,
.flaticon-phone:after,
.flaticon-card:before,
.flaticon-card:after,
.flaticon-mail:before,
.flaticon-mail:after {
    font-size: 25px;
    color: #FFFFFF;
}

.flaticon-account:before,
.flaticon-account:after {
    font-size: 45px;
    color: #FFFFFF;
}

.row.redSection {
    height: 150px;
    width: 100%;
    background-color: #FF6B6B;
    margin: auto;
    align-content: center;
    text-align: right;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.flaticon-smart-cart:before,
.flaticon-smart-cart:after {
    font-size: 30px;
}

html,
body {
    min-height: 100vh !important;
    padding: 0%;
    position: relative;
}

.page-container {
    padding: 0;
    margin-bottom: 20px;
}

.dataInCol {
    margin: auto;
    padding-right: 0px;
}

.username {
    font-size: 32px;
}

.iconInCol {
    text-align: left;
    padding-left: 0%;
}

.icon-badge {
    position: absolute;
    top: 6px;
    right: 0px;
    background-color: #4ECDC4;
    padding-bottom: 1px;
    border-radius: 3em;
}

.with-badge {
    display: inline-block;
    position: relative;
    padding: 2px 5px;
}

.fluid {
    width: 100%;
    padding-right: 0%;
    padding-left: 0%;
    margin-right: 0%;
    margin-left: 0%;
}

.content-section {
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0%;
}

.content {
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 120PX;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: white;
}

.content>ul {
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: -1.25em;
    margin-bottom: 0.25em;
    padding: 0%;
}

.content>ul>li {
    display: inline;
}

.nav-link.active {
    box-shadow: -1px 2px 9px 0px grey;
    background-color: #FF6B6B !important;
    padding: 15px 60px 15px 60px;
    font-size: 18px;
}

.nav-link {
    box-shadow: -1px 2px 9px 0px grey;
    background-color: #FFFFFF;
    color: black;
    padding: 15px 60px 15px 60px;
    font-size: 18px;
}

.input-section {
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

input[type=text] {
    background-color: #F1F1F1;
    border-radius: 8px;
}

.button-section>.btn.btn-info {
    padding: 5px;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #4ECDC4;
}

.button-section {
    padding-left: 1em;
    padding-right: 1em;
}

.flaticon-minus:before,
.flaticon-minus:after,
.flaticon-plus:before,
.flaticon-plus:after {
    font-size: 15px;
    text-align: center;
}

.flaticon-minus:before,
.flaticon-minus:after {
    color: red;
    margin: 5px;
}

.flaticon-plus:before,
.flaticon-plus:after {
    margin: 5px;
    color: green;
}