@import "General.css";
.cover{
    background-image: linear-gradient(rgba(255, 0, 0, 0.45), rgba(247, 5, 5, 0.38)), url("../Resources/cover-photo.jpg");
    width: 100%;
    height: 270px;
    margin: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

  .cover-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
  }
  
.cover-logo{
    height: 130px;
    margin: 20px;
}

.search-box{
    text-align: center;
    background-color: white;
    width: 40%;
    height: 50px;
    border-radius: 5px;
    padding: 0%;
    box-shadow: 0px 0px 10px 1px grey;
}
.search-botton{
    background-color: #ffe66dd6;
    color: #1A535C;
    width: 100%;
    margin: 5px;
    border-radius: 8px;

}