@import "General.css";
.restaurant-logo {
    height: 180px;
    width: 180px;
    margin-top: -4.8em;
    border-radius: 17px;
    border: 6px solid #FFFFFF;
    box-shadow: 0px 0px 10px 1px grey;
}

.restaurant-info {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100px;
}

.restaurant-info.restaurant-name {
    margin-top: 1em;
    font-size: 24px;
    height: 50px;
}

.content-section {
    align-content: center;
    justify-content: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    border-right: 4px dashed #b6d6be;
    padding-left: 0%;
    width: 100%;
    padding-right: 0px;
    margin-bottom: 50px;
}

.menu>div {
    background-color: white;
    margin: 11px;
    margin-left: 0px;
    margin-right: 20px;
    width: 222px;
    height: 230px;
    box-shadow: 0px 0px 10px 1px grey;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 20px;
}

.cart {
    background-color: white;
    padding: 6px;
    height: 380px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0px 0px 10px 1px grey;
}

.food-image {
    width: 90px;
    height: 80px;
    border-radius: 5px;
}

.button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #696868;
    background-color: #ffe66dd6;
    border: 0px;
    border-radius: 5px;
    margin: 5px;
}

.food-price {
    color: grey;
    font-size: 14px;
    margin: 5px;
}

.food-name,
.total-price {
    margin: 5px;
    font-size: 17px;
    font-weight: bold;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 40px;
    padding-right: 0px;
}

.food-number {
    font-size: 12px;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0;
    margin-left: -15px;
}

.button-not-exist {
    background-color: #d3d9df;
}

.title {
    text-align: center;
    border-bottom: 1px solid;
}

.menu-title {
    width: 120px;
    margin-top: 70px;
    font-size: 30px;
    color: #1A535C;
    margin-right: 53%;
    margin-bottom: 50px;
    border-color: #1A535C;
}

.cart-title {
    color: black;
    border-color: black;
    font-size: 20px;
    font-weight: bold;
    width: 90px;
    margin: 0 auto;
    padding-top: 20px;
}

.food-star {
    align-self: center;
    font-size: xx-small;
    padding-right: 0;
    color: #ffc107;
}

.food-info {
    flex-wrap: nowrap;
    align-content: center;
}

.cart-content {
    border: 2px dashed grey;
    border-radius: 20px;
    width: 90%;
    border-width: 2px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
}

.line {
    border-top: 1.5px solid grey;
    /* margin-left: 60px; */
    margin-right: 17%;
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding: 120px; */
    padding-bottom: 5px;
    padding-left: 57%;
    padding-right: 12%;
    padding-top: 0px;
}

.cart-food-name {
    padding-right: 20%;
    text-align: start;
}

.total-price {
    text-align: center;
    margin-right: 0px;
}

.cart-foods-cost {
    text-align: center;
}

.btn-confirm {
    padding-top: 10px;
    margin-left: auto;
    display: table;
    margin-right: auto;
}