@import "General.css";

.orders
{
    margin: 20px;
    margin-bottom: 45px;
    margin-top: -7px;
}

.order {
    border: 1px solid grey;
    border-radius: 8px;
    margin: 20px;
    
}

.col-num, .ordering-restaurant{
    border-left: 1px solid grey;
    padding: 10px;
    font-size: 16px;
}

.col-md.order-status{
    display: inline;
    margin: 7px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5em;
    font-size: 12px;
    margin-right: 5em;
}
.col-xl.order-status{
    margin: 7px;
    margin-right: 5em;
    margin-left: 5em;
    border-radius: 5px;    
    font-size: 12px;
}
.delivering{
    background-color: #c2f8c3;
    color: green;
}

.finding-delivery
{
    background-color: #aff8f7f5;
    color: #1A535C;
}

.delivered{
    margin: 7px;
    margin-right: 3em;
    margin-left: 3em;
    font-size: 13px;
    background-color: #ffe66d;
    color: black;
    box-shadow: 0px 1px 0px 0px grey;
}